@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

body{
    background-color: rgb(243, 242, 242);
    margin-left: 1rem;
    margin-top: 4rem;
    padding: 1rem;
}

/* Scrollbar general */
::-webkit-scrollbar {
  width: 8px;
}

/* Fondo de la barra */
::-webkit-scrollbar-track {
  background: #f1f5f9; /* gris claro */
}

/* Barra que se mueve */
::-webkit-scrollbar-thumb {
  background-color: #bebebe; /* verde Tailwind */
  border-radius: 9999px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #8b8b8b;
}